<!-- サイトタイトル -->
  <div class="container text-center text-white mrg-btm-m">
    <div class="row">
      <div class="col-md-12">
        <h1 class="top-title">Gucchier</h1>
        <p class="top-desc">〜 愚痴を吐き出すためだけに作られたアプリ 〜</p>
      </div>
    </div>
  </div>

<!-- サイトの説明、使用方法 -->
  <div class="container text-center mrg-btm-l text-white">
    <div class="row">
      <div class="col-md-12">
        <p class="copies"><span class="strong-copies">愚痴発散型</span>なんちゃってチャットアプリです。</p>
    </div>
  </div>

<!-- ログイン、サインアップボタン -->
  <div class="container text-center mrg-btm-m text-white">
    <div class="row">
      <div class="col-md-12">
        <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-big btn-primary btn-lg active", style: "background-color: #004c7c" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "いますぐログイン", new_user_session_path, class: "btn btn-big btn-primary btn-lg active", style: "background-color: #004c7c" %>
      </div>
    </div>
  </div>
