<%= render 'header' %>

<div class="container text-center text-white">
  <div class="row mrg-top-s">
    <div class="col-md-12">
      <p class="copies"><span class="strong-copies">Gucchier</span>へようこそ。</p>
      <p class="copies">使い方はいたってシンプル。</p>
      <p class="copies">①今日あった出来事を<span class="strong-copies">愚痴る</span>ためのスレッドを立てる。</p>
      <p class="copies">②そこにひたすら<span class="strong-copies">悪口</span>を書き込む。コメントを待って共感を得ても良いだろう。</p>
      <p class="copies">ただ、<span class="strong-copies">それだけ</span>。</p>
      <div class="mrg-btm-s"><%= link_to "タイムラインを覗く", rooms_path, class: "btn btn-big btn-primary btn-lg", style: "background-color: #004c7c" %></div>
    </div>
  </div>
</div>
