<%= render 'header' %>

<div class="container text-center text-white">
  <div class="row mrg-top-s">
    <div class="col-md-12">
      <p class="copies">とりあえず、<span class="strong-copies">愚痴り</span>まくってください。</p>
      <div class="mrg-btm-s"><%= link_to "タイムラインを覗く", rooms_path, class: "btn btn-big btn-primary btn-lg", style: "background-color: #004c7c" %></div>
    </div>
  </div>
</div>
