<%= render 'pages/header' %>

<div class="timeline-title text-center"><strong>タイムライン</strong></div>

<div class="container text-center timeline-wrapper">  <!-- コンポーネント化 -->
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">

        <%= react_component('Thread') %>

      </div>
    </div>
  </div>
</div>

<div class="container text-center text-white mrg-btm-m">  <!-- コンポーネント化 -->

</div>
