<%= render 'pages/header' %>

<div style="font-size: 40px; margin-bottom: 50px" class="text-white text-center"><strong>タイムライン</strong></div>

<div class="container text-center" style="margin: 60px auto 100px;">  <!-- コンポーネント化 -->
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">

        <%= react_component('Thread') %>

      </div>
    </div>
  </div>
</div>

<div class="container text-center text-white mrg-btm-s">  <!-- コンポーネント化 -->

</div>
