<%= render 'pages/header' %>
<div class="container">
  <h1 class="text-center room-title"><%= @room.title %><h1>
</div>

<div class="container comment-form">

  <%= react_component('UsersComment', room_id: @room.id) %>

</div>
